#card {
  /* box-shadow: 2px 2px 5px gray; */
  border-radius: 10px 10px 0 0;
  width: 300px;
  overflow: hidden;
}

#card_content {
  text-align: center;
  padding-block: 20px;
}

#card_content > h1 {
  color: rgb(19, 17, 17);
  font-size: 20px;
}

@media (max-width: 550px) {
  #card {
    width: 90vw;
  }
}
