#hero_section {
  height: 88vh;

  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  /* text-align: center; */

  background: linear-gradient(
      to right,
      rgba(12, 28, 80, 0.85),
      rgba(56, 58, 63, 0.85)
    ),
    url(../../assets/6929207_2516.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;

  padding-inline: 20px;
}

.cols {
  height: 100%;
}

.col1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding-block-start: 70px;
  padding-inline-start: 10vw;

  width: 100%;
}

/* .col2 > img {
  width: 100px;
  background-color: transparent;
} */

#upper_p {
  font-size: clamp(20px, 3vw, 25px);
}

#hero_section_text h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: clamp(38px, 8vw, 50px);
  color: #e0cd5e;
}

#hero_section_text #first_heading {
  font-size: clamp(34px, 8vw, 46px);
}

#lower_p {
  padding-block-start: 25px;
  font-size: 16px;
}

#social-media-icons-hero {
  margin-block-start: 15px;
}

#social-media-icons-hero > a {
  text-decoration: none;
  color: white;
}

#social-media-icons-hero svg {
  font-size: 30px;
  margin-inline: 5px;
}

@media (max-width: 550px) {
  .col1 {
    padding: 0;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
